/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.global {
  font-weight: 900;
  height: auto;
  background-image: linear-gradient(to right bottom, #ede4ff4b, #6628f749), url(./images/1552516.jpg);
  /*background-repeat: no-repeat; */
  background-size: cover;
  background-color: rgb(49, 0, 0);
  /*clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);*/
  position: relative;
}